<article class="offer-card fade-up" data-sku="">
  <div class="offer-badge"></div>
  <div class="offer-media"><img src="" alt=""></div>
  <h4 class="offer-title"></h4>
  <div class="offer-prices">
    <span class="offer-old"></span>
    <span class="offer-new"></span>
  </div>
  <label class="offer-size-label">Size</label>
  <select class="product-size-select form-select">
    <option value="">Choose size</option>
  </select>
  <button type="button" class="offer-cart add-to-cart" data-sku="" aria-label="Add to cart">
    <img src="./assets/icons/cart.svg" alt="">
  </button>
</article>
